.work,
.workTitle {
  max-width: 1200px;
  margin: 48px auto;
  padding: 16px 24px;

  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.work h5 {
  color: var(--gray-1);
  margin-right: var(--gap-2);
}

.workImg {
  max-width: 720px;
  border-radius: 4px;
  position: absolute;
  top: -140%;
  left: 25%;

  transition: 1s ease-in-out;

  transform: translateX(-1000px) skew(90deg);
  width: 0;
  height: 0;
  opacity: 0;
}

.workImg img {
  border-radius: 8px;
}

.bbGray {
  transition: 1s;
  border-bottom: 1px solid var(--black-light);
}

@media screen and (max-width: 960px) {
    .workImg {
        display: none;
    }
}

@media screen and (min-width: 960px) {
  .work a {
      z-index: 1;
  }

  .workImg.show {
    transform: translateX(0) skew(0);
    width: 720px;
    height: 640px;
    opacity: 1;
  }
}