.get {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;
}

.email {
  text-align: center;
}

.folowMe {
  display: flex;
  justify-content: space-evenly;
}

.folowMe a {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.ionicon {
  max-width: 30px;
}

.ionicon:hover {
  transition: 0.3s;
  transform: translateY(-3px);
}

.link:hover {
  transition: 0.3s;
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
  .folowMe {
    display: grid;
    grid-template-columns: 30% 30%;
  }

  .folowMe a {
    width: fit-content;
  }
}