@import 'colors';
@import 'spacing';

// SELECTED WORKS

.bb-gray2 {
    border-bottom: 2px solid $black-light;
}

.get {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;

    .folow-me {
        display: flex;
        justify-content: space-evenly;
        
        a h6 {
            transform: translate(0, -10%);
        }

        .folow-me-item {
            .ionicon {
                max-width: 30px;
            }
        }

        @media screen and (max-width: 640px) {
            display: grid;
            grid-template-columns: 50% 50%;
        }
    }
}

.about {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;

    .about-item {
        gap: $gap-5;

        .my-photo {
            img {
                filter: grayscale(100%);
                border-radius: 50%;
                max-width: 200px;
            }
        }

        @media screen and (max-width: 960px) {
            flex-direction: column;
            align-items: center;
            .my-photo {
                img {
                    filter: grayscale(100%);
                    border-radius: 50%;
                    max-width: 150px;
                }
            }
        }
    }

    .technologies {
        display: grid;
        grid-template-columns: 10% 10% 10% 10% 10% 10% 10%;
        justify-content: space-between;

        .technologies-item {
            display: flex;
            padding: 24px 0;
            width: 70px;
        }

        @media screen and (max-width: 960px) {
            grid-template-columns: 18% 18% 18% 18%;

            .technologies-item {
                width: 50px;
            }
        }

        .ionicon {
            max-width: 70px;
        }
    }
}

footer {
    bottom: 0;
    left: 0;

    svg {
        width: 40px;
    }
}