@import 'colors';
@import 'spacing';

// MENU

.menu {
    position: relative;
    z-index: 99999;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 48px 16px;

    .menu-1, .menu-2, .menu-3 {
        opacity: 0;
    }
}

.logo {
    transition: .5s ease;
    &:hover {
        opacity: .8;
    }
}


@media screen and (max-width: 960px) {
    .menu-left, .menu-right {
        display: none;
    }

    .menu {
        justify-content: center;
        padding: 8px 16px;
    }
}

// CONTAINER

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.relative {
    position: relative;
}

.container {
    position: relative;
    z-index: 99999;
    max-width: 1220px;
    margin: 0 auto;
    padding: 24px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 72vh;
}

@media screen and (max-width: 960px) {
    .menu-left, .menu-right {
        display: none;
    }

    .hero{
        height: auto;
    }

    .container {
        flex-direction: column;
    }
}

.container-item div {
    opacity: 0;
}

.container-item:nth-child(1){
    flex-grow: 3;
    margin: 40px 0;
}

.container-item:nth-child(2){
    flex-grow: 1;
    margin: 40px 0;

    justify-content: center;
    align-items: center;

    .img-hero {
        margin: auto;
        max-width: 300px;
    }
}

.square {
    display: inline-block;
    margin-top: 64px;
    font-size: 24px;
    padding: 16px 24px;

    position: relative;
    transition: .5s ease;

    &:hover {
        opacity: .8;
        transform: rotate(4deg);
    }

    &::after {
        content: '';
        display: block;

        position: absolute;
        top: 0;
        left: 0;

        // z-index: -1;

        width: 96px;
        height: 96px;

        transform: translate(5%, -15%) rotate(35deg);

        background: linear-gradient(225deg, $blue-dark 0%, rgba(83, 139, 240, 0) 100%);

        border-radius: 4px;
    }
}

.bg-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .svg-hero {
        transform: scale(1.4) rotate(15deg);
    }
}

@media screen and (max-width: 960px) {
    .svg-hero {
        transform: scale(1.7) rotate(25deg);
    }
}

// SELECTED WORKS

.bb-gray {
    transition: 1s;
    border-bottom: 1px solid $black-light;
}

.list-item {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;

    position: relative;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    h5 {
        color: $gray-1;
        margin-right: $gap-2;
    }

    @media screen and (min-width: 960px) {
        a {
            z-index: 99999;

            // hover made by javascript
            // &:hover {
            //     & + .work-img {
            //         transform: translate(-45%, -50%) translate3d(0, 0, 0);
            //         width: 720px;
            //         opacity: 1;
            //     }
            // }
        }
    }

    .work-img {
        max-width: 720px;
        border-radius: 4px;
        position: absolute;
        top: 50%;
        left: 50%;

        transition: .7s ease;

        transform: translate(-50%, -50%) translate3d(-1000px, 0, 0) skew(90deg);
        width: 0;
        opacity: 0;

        img {
            border-radius: 8px;
        }
    }
}

.get {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px 24px;
}