* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import 'colors';
@import 'typography';

html,
body {
  width: 100%;
  background-color: $black-dark;
  overflow-x: hidden;
}

.in-front {
  position: relative;
  z-index: 99999;
}

.border {
    border: 1px solid red;
}

@import 'spacing';
@import 'layout';