* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import 'colors';
@import 'typography';

html,
body {
  z-index: -2;
  width: 100%;
  background-color: $black-dark;
  // background: transparent;
}

.border {
    border: 1px solid red;
}

@import 'spacing';
@import 'layout';