@import 'colors';
@import 'typography';
@import 'spacing';
@import 'layout';

:root {
  // colors
  --black-normal: #0d0e10;
  --black-dark: #050607;
  --black-light: #15171a;

  --white-normal: #f5f7f7;
  --white-dark: #edeff0;
  --white-light: #fafcfc;

  --blue-normal: #2dc7ed;
  --blue-dark: #15aed4;
  --blue-light: #4ddcff;

  --gray-1: #777;

  // measurements
  --gap-1: 8px;
  --gap-2: 16px;
  --gap-3: 24px;
  --gap-4: 32px;
  --gap-5: 48px;
  --gap-6: 64px;
  --gap-7: 72px;
  --gap-8: 96px;
  --gap-9: 128px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  background-color: $black-dark;
  overflow-x: hidden;
}

.only-mobile {
  @media screen and (min-width: 960px) {
    display: none;
  }
}

.left {
  left: 0;
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.in-front {
  position: relative;
  z-index: 99999;
}

.border {
    border: 1px solid red;
}

@keyframes kadabra {
  0%, 10% {
    fill-opacity: 0;
    stroke-dasharray: 0 100;
  }
  60% {
    fill-opacity: 0;
    stroke-dasharray: 100 0;
  }
  100% {
    fill-opacity: 1;
    stroke-dasharray: 100 0;
  }
}

// BACKGROUND ANIMATIONS

#square-1 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate1 3s ease infinite alternate;
}

#square-2 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate2 6s ease infinite alternate;
}

#square-3 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate6 5s ease infinite alternate;
}

#bg-hero-line1 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate3 6s ease infinite alternate;
}

#bg-hero-line2 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate4 5s ease infinite alternate;
}

#bg-hero-line3 {
  transform-origin: center center;
  transform-box: fill-box;
  animation: rotate5 8s ease infinite alternate;
}

@media screen and (min-width: 960px) {
  
  #blur-1 {
      animation: blur-change1 8s ease infinite alternate;
  }
  
  #blur-2 {
      animation: blur-change2 6s ease infinite alternate;
  }
}

// FOR SQUARES

@keyframes rotate1 {
  0%{
      transform: rotate(0deg) translate(0, 0);
  }
  100%{
      transform: rotate(30deg) translate(0, -15px);
  }
}

@keyframes rotate2 {
  0%{
      transform: rotate(0deg) translate(0, 0);
  }
  100%{
      transform: rotate(-45deg) translate(0, 35px);
  }
}

@keyframes rotate6 {
  0%{
      transform: rotate(0deg) translate(0, 0);
  }
  100%{
      transform: rotate(30deg) translate(0, 35px);
  }
}

// FOR LINES

@keyframes rotate3 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(-2deg);
  }
}

@keyframes rotate4 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(2deg);
  }
}

@keyframes rotate5 {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(1deg);
  }
}

// FOR BLURS

@keyframes blur-change1 {
  0%{
      // opacity: 1;
      transform: translate(0, 0);
  }
  100%{
      // opacity: .5;
      transform: translate(0, -250px);
  }
}

@keyframes blur-change2 {
  0%{
      // opacity: 1;
      transform: translate(0, -100);
  }
  100%{
      // opacity: .5;
      transform: translate(0, 150px);
  }
}